{% extends "question/content.html" %}
{% load static %}
{% block node %}
<!--&lt;!&ndash;上传&ndash;&gt;-->
<!--<form enctype="multipart/form-data" action="uploadFile/" method="post">{% csrf_token %}-->
<!--       <input type="file" name="myfile" />-->
<!--       <br/>-->
<!--       <input type="submit" value="upload"/>-->
<!--    </form>-->

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>
    <h4>上传文件</h4>
    <form method="post" enctype="multipart/form-data" action="uploadFile/" id="upload_file">{% csrf_token %}
        <input type="file" name="myfile" /><br>
        <input type="submit" value="上传" />
        {{ form.as_p }}
    </form>
</body>
</html>


<!--markdown-->
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<form class="form-horizontal" action="." method="post">{% csrf_token %}
    <div class="row" style="margin-top: 10px;">
<!--        <div class="col-md-2 text-right"><span>数据修改：</span></div>-->
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;你的回答：</h4>
             <div class="row">

    </div>
        </div>
            <div id="editormd" class="col-md-10 text-left">
                <textarea style="display: none;" id="id_body" >{{ node.body }}</textarea>
            </div>
{#  content_of_answer为回答内容，随便改名字#}
    <div><button  type="submit" class="btn btn-default" style="margin-left:200px">提交</button>
    </div>

</form>

            <!--markdown-->
<script type="text/javascript" src='{% static "editor/editormd.min.js" %}'></script>
<script type="text/javascript">
    $(function() {
var editor  = editormd("editormd",{
            width : "100%",
            height : 600,
            path : "{% static 'editor/lib/' %}",
            syncScrolling : "single",
            //emoji: ture,
            tocm: true,         // Using [TOCM]
                    tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                    flowChart: true,             // 开启流程图支持，默认关闭
                    sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                    imageUpload: true,
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL: "{% url 'question:upload' %}",
                    onload: function () {
                        console.log('onload', this);
                    },
            toolbarIcons : function() {
            // Or return editormd.toolbarModes[name]; // full, simple, mini
            // Using "||" set icons align right.
                return ["undo", "redo", "|", "bold", "hr","pagebreak", "|","table", "|","preview", "watch", "|", "fullscreen",]
        },
        });
    });
</script>
{% endblock %}
{% block right %}{% endblock %}

<!--<script>-->
<!--      function upload_file(file) {-->
<!--        $.ajax(-->
<!--            {-->
<!--                url: "{% url 'tree:uploadFile' %}",-->
<!--                type: "POST",-->
<!--                data: { "myFile": file },-->
<!--                success: function (e) {-->
<!--                    if (e === 1) {-->
<!--                        layer.msg("上传成功");-->
<!--                        window.location.reload();-->

<!--                    } else {-->
<!--                        layer.msg("上传失败");-->
<!--                        window.location.reload();-->
<!--                    }-->
<!--                },-->
<!--                error: function (e) {-->
<!--                    layer.msg("无文件");-->

<!--                }-->
<!--            });-->

<!--    }-->

<!--</script>-->